/** Global Styles **/

* {
  font-family: sans-serif;
  font-size: 16px;
  color: #555;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 1.6em;
  margin-bottom: 30px;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.5em;
}

/* Layout */

html {
  background: url('kitten.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 50%;
}

body {
  display: flex;
  justify-content: center;
  background: transparent;
}

form {
  padding-top: 40px;
  color: black;
  background: transparent;
}

form > * {
  background: transparent;
}

/* Input Boxes */

input[type=text] {
  border: none;
  border-bottom: 1px solid #555;
  margin-top: 10px;
  margin-bottom: 30px;
  width: 220px;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
